<html>
    <head>
        <title> {{ title }} </title>
    </head>
    <body>
        <h1>Toy Store</h1>
        {% for customer in all_customers %}
            <div>
                <p>
                    <a href="/orders/{{ all_customers.index(customer) }}">Order Details</a>
                    {{ customer.customer_name }}: 
                    <b>{{ customer.order_date }}:</b>
                    <b>{{ customer.quantity }}:</b>
                    <b>{{ customer.toy }}:</b>
                </p>
            </div>
            
        {% endfor %}
    </body>

</html>